  	<!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->   
  	<script src="{{@bootstraphome}}/js/jquery.js" type="text/javascript"></script>
	<script src="{{@bootstraphome}}/js/bootstrap.min.js" type="text/javascript"></script>

	<script type="text/javascript" src="{{@relroot}}/lib/MarkdownDeep/MarkdownDeep.min.js"></script>
	<script type="text/javascript" src="{{@relroot}}/lib/MarkdownDeep/MarkdownDeepLib.min.js"></script>

	<F3:check if="{{@useBackbone}}"><F3:true>
	<script src="{{@relroot}}/lib/underscore-min.js" type="text/javascript"></script>
	<script src="{{@relroot}}/lib/backbone-min.js" type="text/javascript"></script>
	</F3:true></F3:check>

	<F3:repeat group="{{@f3scripts}}" value="{{@script}}">
		<script src="{{@relroot}}/{{@script}}" type="text/javascript"></script>
	</F3:repeat>

	<F3:repeat group="{{@scripts}}" value="{{@script}}">
		<script src="{{@relroot}}/views/{{@script}}" type="text/javascript"></script>
	</F3:repeat>

	<F3:check if="{{@useJSFormValidation}}"><F3:true>

	<script src="{{@bootstraphome}}/js/plugins/jquery.validate.min.js" type="text/javascript"></script>


	<script type="text/javascript">
		$(document).ready(function(){
			// turn validation on for every form on the page
			$("form").validate();
		});
	</script>

	</F3:true></F3:check>


	<F3:check if="{{@useJSFormFieldMasking}}"><F3:true>

	<script src="{{@bootstraphome}}/js/plugins/input-mask.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			// default any input masks:
			$('.date').mask("99/99/9999");
			$('.phone').mask("(999) 999-9999");
			$('.ssn').mask("999-99.9999");
			$('.money').mask("99999.99");
		});
	</script>
	
	</F3:true></F3:check>

   </body>
</html>
