
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{@relroot}}">{{@projectname}}</a>
          <div class="nav-collapse">
            <ul class="nav">
        				<li {{@PARAMS[0]=='/'?'class="active"':''}}><a href="{{@relroot}}"><i class="icon-home icon-white"></i>&nbsp;Home</a></li>

                <li class="divider-vertical"></li>
                <li class="dropdown">
                <F3:check if="{{@libraryName != false}}">
                  <F3:true>
                   <a class="dropdown-toggle active" data-toggle="dropdown"><i class="icon-book icon-white"></i>&nbsp;Libraries: {{@libraryName}}<b class="caret"></b></a>
                  </F3:true>
                  <F3:false>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-chevron-right icon-white"></i>&nbsp;Libraries<b class="caret"></b></a>
                  </F3:false>
                </F3:check>
                  <ul class="dropdown-menu">
                    <F3:repeat group="{{@libraries}}" value="{{@library}}" counter="{{@counter}}">
                      <li><a href="{{@relroot}}/library/load/{{@library->name}}">{{@library->name}}</a></li>
                    </F3:repeat>
                  </ul>
                </li>


                <F3:check if="{{@libraryName != false}}">

                <li class="divider-vertical"></li>
                <li class="dropdown">
                <F3:check if="{{@projectName != false}}">
                  <F3:true>
                   <a class="dropdown-toggle active" data-toggle="dropdown"><i class="icon-book icon-white"></i>&nbsp;Projects: {{@projectName}}<b class="caret"></b></a>
                  </F3:true>
                  <F3:false>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-chevron-right icon-white"></i>&nbsp;Projects<b class="caret"></b></a>
                  </F3:false>
                </F3:check>
                  <ul class="dropdown-menu">
                    <F3:repeat group="{{@projects}}" value="{{@project}}" counter="{{@cntr}}">
                      <li><a href="{{@relroot}}/project/load/{{@project->name}}/{{@project->id}}">{{@project->name}}</a></li>
                    </F3:repeat>
                  </ul>
                </li>
                </F3:check>
                
                <li {{@PARAMS[0]=='/install'?'class="active"':''}}><a href="{{@relroot}}/install"><i class="icon-download-alt icon-white"></i>&nbsp;Install</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
