<form method="post" action="" class="form well">
	<fieldset>
			<legend></legend>
				<div class="control-group span6">
					<label for="txt1Name" class="control-label">Name</label>
					<div class="controls">
						<input type="text" class="text" id="txt1Name" name="Name" value="">
					</div>
				</div>
				<div class="control-group span6">
					<label for="txt2Description" class="control-label">Description</label>
					<div class="controls">
						<div class="mdd_toolbar"></div>
						<textarea cols="10" rows="10" class="mdd_editor" name="Description" id="txt2Description"></textarea>
						<div class="mdd_resizer"></div>
						<div class="mdd_preview"></div>
					</div>
				</div>
	</fieldset>
</form>
